#pragma once

#define WIFI_SSID "your-wifi-name"
#define WIFI_PASSWORD "your-wifi-password"
#define UPSTASH_REDIS_HOST "your-database.upstash.io" // only hostname not "https://"
#define UPSTASH_REDIS_TOKEN "your-upstash-token"
#define UPSTASH_REDIS_PORT 6379
